.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
