:host(.e8) .course-section {
  background-color: var(--color-secondary);
}

:host(.matura) .course-section {
  background-color: var(--color-primary);
}

.course-section {
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 2rem;
}


