.courses {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;

  @media (max-width: 680px) {
    flex-direction: column-reverse;
  }
}

.courses > * {
  flex: 1;
}

.card {
  background-color: var(--color-background);
  padding: 0;
}
