:root {
  --color-primary: #E0FF20;
  --color-secondary: #3B82F6;
  --color-tertiary: #64748B;
  --color-neutral: #F8FAFC;
  --color-background: #EFF1F3;
  --color-background-light: #FFFFFF;

  --font-heading: 'Manrope', system-ui, Arial, sans-serif;
  --font-body: 'Inter', system-ui, Arial, sans-serif;

  background-color: var(--color-background);
}

* {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: var(--color-background-light);
  border-radius: 24px;

  @media (min-width: 600px) {
    max-width: 600px;
  }
  @media (min-width: 768px) {
    max-width: 720px; /*tablet*/
  }
  @media (min-width: 1024px) {
    max-width: 960px; /*mały desktop*/
  }
}
