:host {
  text-align: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--color-neutral);
}

.graph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (min-width: 600px) {
    height: 350px;
  }
  @media (min-width: 768px) {
    height: 400px;
  }
  @media (min-width: 1200px) {
    height: 500px;
  }
  
}

